
/* to prevent scrolling when modal open  */
body.active-modal {
  overflow-y: hidden;
  padding-right: 17px;
}
/* ------BTN GROUP ------- */

.btn-grp {
    margin: 2em 0 6em;
    column-gap: 10%;
    display: flex;
    justify-content: center;
  }
  .btn-grp .btn {
    color: whitesmoke;
    cursor: pointer;
    border: 0;
    font-size: 1em;
    padding: 0.75em 1.5em;
    border-radius: 0.45em;
    font-weight: 700;
    transition: 0.2s ease-in-out;
    background: linear-gradient(90deg, #721cd5, #dd00f3);
  }
  .btn-grp .btn:hover {
    background: none;
    color: whitesmoke;
    fill: #101042;
    box-shadow: inset 0px 0px 0px 2px white;
  }
  .modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: inherit !important;
    overflow: hidden !important;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: transparent !important;
    border-radius: 3px;
    border: 0px !important;
    max-width: 600px;
    min-width: 300px;
    animation: anim 1s ease-in-out;
    transition: 5s ease-in-out;
}

.close-modal {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 7px;
    color: whitesmoke;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}
.modal-content .btn{
  color: whitesmoke;
  outline: none;
  font-size: .75rem;
  transition: .5s ease-in-out;
}
.modal-content .btn:hover{
  transform: scale(1.2);
  color: whitesmoke;
  width: fit-content;
}

button.btn.close-modal:hover::after {
  content: "Close";
}

@keyframes anim{
  0%{ transform: translate(-50%,-50%) rotateX(90deg) rotateY(170deg) scale(0);}
  100%{
    transform: translate(-50%,-50%) ;
  }
}