body{
    background-color: #101042;
}
.card{
    background:linear-gradient(90deg,blueviolet,purple);
}
.btn-secondary{
    background-color: black;
}
.ellipse {
    background:#ffffffe3;
    width: 4px;
    height: 4px;
    vertical-align: middle;
    margin-left: 3px;
    display: inline-block;
    border-radius: 50%;
}