.job-card {
    color: gold;
    width: 40vw;
    border: #93118c 2px solid;
    box-shadow: 1px 1px 10px #27114f;
    border-radius: .75em;
    margin: 1em 0.5em;
}
.jobs-group{
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
a.job-tags {
    color: white;
    background-color: dodgerblue;
    text-decoration: none;
    width: fit-content;
    font-size: .9rem;
    border-radius: 1em;
    padding: 0em .75em;
}
.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    column-gap: .5em;
    justify-content: flex-start;
    margin: .25em 0 .75em .75em;
}
.modal-dialog{
    color: black;
}

.job-card .card-footer{
    border-top: 1px solid blueviolet;
    font-size: smaller;
    color: #ffd700ba;
}
.job-card .card-header{
    box-shadow: -1px -1px 10px 0px #ff00ff;
    font-weight: bold;
    letter-spacing: 2px;
}

.my-jobs .list-group-item{
    display: flex;
    justify-content: space-between;
}

.my-jobs{
    margin: 1em 15em;
}

.my-jobs .applied-jobs{
    background: #00000091;
    color: white;
    font-weight: bold;
}
.my-jobs .Accepted{
   background-color:  rgb(25, 135, 84) !important
}
.my-jobs .Rejected{
    background-color: rgb(220, 53, 69) !important
}
.search-box{
padding: 1em;
text-align: center;

}
.job-search {
    width: 30%;
    height: 3.2em;
    border-radius: .5rem;
    background: #000000a6;
    transition: width .5s ease-in-out;
}

input.job-search::placeholder {
    color: rgba(255, 255, 255, 0.592);
    padding: 1em;
}
input.job-search:focus {
    width: 80%;
    color: white;
    padding: 1em;
    font-size:larger;
    outline: none;
    box-shadow: inset -1px -2px 6px #8114ff, inset 1px 2px 5px 0px #ce14cc;
}

.search-ico {
    font-size: xx-large !important;
}
input.job-search:focus::placeholder{
    color: transparent;
}

.center-spinner{
    margin: 2em auto 2em 50%;
}